.footer {
    background-color: #fefaf3;
    .container {
        .inner {
            padding: 73px 0;
            text-align: left;

            h6 {
                color: #000;
                margin-bottom: 23px;
                font-family: Montserrat;
                font-size: 12px;
                line-height: 2em;
                font-weight: 500;
                letter-spacing: .1em;
                text-transform: uppercase;
            }

            ul {
                padding: 0;

                li {
                    padding: 0 0 3px;

                    a {
                        color: #8b8b8b;
                        font-size: 12px;
                        text-decoration: none;

                        &:hover {
                            color: red;
                        }
                    }

                }
            }


        }

        .alldiv {
            display: flex;
            justify-content: space-between;

            .inne {
                color: #afafaf;
                display: flex;
                padding: 8px 0 17px;
                

                .text {

                    font-size: 12px;

                    a {
                        color: #6d6a6a;
                        text-decoration: none;

                        &:hover {
                            color: red;
                        }
                    }
                }

                .social {
                    letter-spacing: .2em;
                   
                    a {
                        font-size: 10px;
                        margin: 0 0 0 25px;
                        color: #afafaf;
                        text-decoration: none;
                    }
                     a:hover {
                        color: red;
                     }
                }
            }
        }

    }
}